.wrapp_offers{
	background: #f4f5f7;
	margin-top: -10px;
}


.header_offers{
	text-align: center;	
	width: 100%;	
	padding: 20px;		
	color: #1c7bd3;
}

.header_offers h1{
font-family:"Roboto", sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	text-transform:uppercase;
		text-shadow: 0px 2px 1px #1c7bd3;
}

.card{
	overflow: hidden;
	padding: 10px;
	margin-bottom: 30px;
}

.card img{
	height:auto;
}



/*.card-body_offers{
	padding: 12px !important;
}
*/


.card-body_offers h5{
	color: #444;
	padding: 12px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: "Arimo", "Helvetica Neue",Arial , sans-serif;
}



.card-img-top{
	padding: 10px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.card-img-top:hover{
	transform: scale(1.2);
}

.card-title{
	text-align: center;
}

.card-text p{
	font-family: "Arimo", "Helvetica Neue",Arial , sans-serif;
	color: #666;
	padding: 0 5px;
	font-weight: 600;
	font-size: 16px;
	text-indent: 12px;
	text-align: justify;
}






.offersPage_title{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.offersPage_title h1{
	font-size: 2rem;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	color: #2a4e8c;
}



.offersPage_img{
	width: 100%;
	min-height: 0px;
	max-height: 300px;
	position: relative;
	text-align: center;
}

.offersPage_img img{

	border-radius: 5px;

}

.offersPage_text{
	width: 100%;
	padding: 12px;
	text-align: center;
}

.offersPage_text p:nth-child(1){
	padding-top: 30px;	
	text-transform: uppercase;	
	font-size: 25px;
	text-align: center;
		color: #2a4e8c;
		text-indent: 0;

}
.offersPage_text p{
	text-indent: 48px;
	font-size: 20px;
	text-align: justify;	
	font-family: "Helvetica",Arial , sans-serif;
	font-weight: normal;
	color: #333;
}


